.gallery {
    display: flex;
    justify-content: center;
}

.per {
    height: 300px;
    width: 180px;
    margin: 200px 7px;
    
}

.per :hover {
    transform: scale(1.15);
}

footer {
    display: flex;
    background-color: #2BA880;
    height: 200px;
    justify-content: center;
    align-items: center;
    border: 5px solid #009D70;
}

